.links{
    width: 10rem;
}

.links ul{
    padding-inline-start: 0!important;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links ul li a{
    color: var(--color-font);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
}

.li{
    transition: 0.2s;
}

.li:hover{
    transform: scale(1.1);
    
}

.li:hover a{
    text-decoration: none;
    border-bottom: 0 solid black;; 
    transform: scale(1.1);
    
}